In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head(3)

   Year         Region Rural/Urban  Positive  Tested
0  2021         Arusha       Rural        14      96
1  2021          Geita       Rural        52     108
2  2021  Dar es salaam       Rural        14      84

In [4]:
#Summarizing data
final_set = df.groupby(by=["Region","Rural/Urban","Year"]).sum()

In [5]:
final_set

                         Positive  Tested
Region Rural/Urban Year
Arusha Rural       2015        28     153
                   2019        28     191
                   2021       406    2264
       Urban       2019        28     227
                   2021        99     712
...                           ...     ...
Tanga  Rural       2017        15     206
                   2019        49     258
                   2021       308    2158
       Urban       2017        62     103
                   2021       126     687

[128 rows x 2 columns]

In [6]:
final_set.to_csv("FinalSet.csv")

In [7]:
final_set = pd.read_csv("FinalSet.csv")
mp = (((final_set["Positive"])/(final_set["Tested"])) * 100).round()

In [8]:
final_set.insert(5, "Prevalence",mp,False)

In [9]:
final_set.head(10)

          Region Rural/Urban  Year  Positive  Tested  Prevalence
0         Arusha       Rural  2015        28     153        18.0
1         Arusha       Rural  2019        28     191        15.0
2         Arusha       Rural  2021       406    2264        18.0
3         Arusha       Urban  2019        28     227        12.0
4         Arusha       Urban  2021        99     712        14.0
5  Dar es salaam       Rural  2021       627    5256        12.0
6  Dar es salaam       Urban  2015        43     410        10.0
7  Dar es salaam       Urban  2017        49     721         7.0
8  Dar es salaam       Urban  2019        33     736         4.0
9         Dodoma       Rural  2019        30     256        12.0

In [10]:
final_set.to_csv("final_set.csv", index = False)